<h1>Create a new insurance!</h1><br>
<form action="/insurance/new" method="post">
  <label>Company name:<input type="text" name="company"></label><br>
  <label>Coverage:<input type="text" name="coverage"></label><br>
  <input type="submit" name="" value="Submit!">
</form>
