<section class="col-3 first clearfix">
  <label class="title">Create a new insurance!</label>
  <a href="/insurance" style="float:right;" class="small_button">Back to Index</a>
</section>

<section class="col-3 first clearfix">
  <form action="/insurance/new" method="post">
    <label>Company name:<input type="text" name="company" required></label><br>
    <label>Coverage:<input type="text" name="coverage" required></label><br>
    <input type="submit" name="" value="Submit!" class="small_button">
  </form>
</section>
