<% if !!session[:developer?]%>
  <section class="col-3 first clearfix">
    <label class="title">Welcome Admin!</label><br><br>
    <a href="/insurance/new" class="small_button">Create a new Insurance</a>
    <a href="/dentists" class="small_button">Checkout Dentists</a><br><br>
  </section>
<%end%>

<section class="col-3 first clearfix">
  <%@insurances.each do |insurance|%>
    <div class="each_comment">
      <label><%=insurance.company%> covers $<%=insurance.coverage%></label>
      <% if !!session[:developer?] %>
        <a href="/insurance/<%=insurance.id%>/edit" class="small_button">Edit</a>
        <a href="/insurance/<%=insurance.id%>/delete" class="small_button">Delete</a>
      <%end%>
    </div>
  <%end%>
</section>
