.small_button {
  padding: 8px 16px;
  margin-top: 20px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px #999;
}

.small_button:hover {background-color: #3e8e41}

.small_button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.each_comment {
  font-size: 120%;
  padding: 15px;
  min-height: 40px;
  border-style:double;
  border-width: thick;
  border-color: green;
}

#dentist_comments {
  overflow: auto;
  max-height: 350px;
}

.wrapper {
  width: 960px;
  margin: 0 auto;
}

.col-1 {
  float: left;
  width: 32%;
}

.col-2 {
  float: left;
  width: 66%;
}

.col-3 p {
  -moz-column-rule: 1px dotted #ccc;
  -webkit-column-rule: 1px dotted #ccc;
  column-rule: 1px dotted #ccc;
  -moz-column-gap: 1.5em;
  -webkit-column-gap: 1.5em;
  column-gap: 1.5em;
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;
}

[class*="col-"] {
  margin-left: 2%;
}

.first {
  margin-left: 0%;
}

.title {
  font-size: 200%;
}


label {
  font-weight: bolder;
  font-size: 150%;
  margin-left: 0;
}

textarea {
  height:100px;
  width:250px;
}

input {
  font-size: 150%;
  max-width: 100%;
}

body {
  background-image:url(https://image.freepik.com/free-photo/old-grunge-dark-textured-wooden-background-the-surface-of-the-old-brown-wood-texture_7182-333.jpg);
  margin: 10px 50px;
}

section {
  border: solid;
  padding: 10px;
  margin-bottom: 20px;
  background: powderblue;
}

img, video, audio, iframe, table, form {
  width: 100%; /* IE */
  max-width: 100%; /* FF, Safari, Chrome */
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  font-size: 0.75em;
  background: #eee;
}

/*////////// FIXES //////////*/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear:both;
}
