.small_button {
  padding: 8px 16px;
  margin-top: 20px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px #999;
}

.small_button:hover {background-color: #3e8e41}

.small_button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.each_comment {
  font-size: 120%;
  padding: 15px;
  min-height: 40px;
  border-style:double;
  border-width: thick;
  border-color: green;
}

#dentist_comments {
  overflow: auto;
  height: 350px;
}

.wrapper {
  width: 960px;
  margin: 0 auto;
}

section {
  padding: 20px;
  margin-bottom: 20px;
  background: powderblue;
}

img, video, audio, iframe, table, form {
  width: 100%; /* IE */
  max-width: 100%; /* FF, Safari, Chrome */
}

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  font-size: 0.75em;
  background: #eee;
}
