<h1>Welcome Back! Please Log In!</h1>

<form action="/login" method="post">
  <label> Email: <input type="text" name="email"></label><br>
  <label> Password: <input type="password" name="password"></label><br>
  <input type="submit" name="" value="Log In!">
</form>
