<h1>Please dont kill me!</h1>

<img class="irc_mi" src="https://vignette.wikia.nocookie.net/violette1st/images/d/d2/Shocked-face.jpg/revision/latest?cb=20170314121229" alt="Image result for shocked face" onload="typeof google==='object'&amp;&amp;google.aft&amp;&amp;google.aft(this)" width="384" height="353" style="margin-top: 0px;">

<form action="/real-suprise" method="GET">
  <input type="submit" name="" value="Suprise!">
</form>
