<section id="content" class="wrapper">
  <h1>Welcome to the best Dental Sinatra application EVER!!!</h1>
  <img class="irc_mi" src="http://5star-dental.com/wp-content/uploads/2016/04/8.2.jpg" alt="Image result for dentist office" width="530" height="353" style="margin-top: 0px;">

  <%if logged_in?%>
    <form action="/user/<%=session[:user_id]%>" method="GET">
      <input class="button" type="submit" value="HOME">
    </form>
  <%else%>
  <br>
    <form action="/signup" method="GET">
      <input type="submit" value="SIGN UP!" class="button">
    </form><br><br>

    <form action="/login" method="GET">
      <input type="submit" value="LOG IN!" class="button">
    </form>
  <%end%>
</section>
