<section class="col-2 first clearfix">
  <h1>Welcome to the best Dental Sinatra application EVER!!!</h1>
  <img class="irc_mi" src="http://5star-dental.com/wp-content/uploads/2016/04/8.2.jpg"><br><br>
</section>

<%if logged_in?%>
  <section class="col-1 clearfix">
    <a href="/user/<%=session[:user_id]%>" class="small_button">Home!</a>
  </section>
<%end%>
