<!DOCTYPE html>
<html>
  <head>
    <title>Viles Dentist Application!</title>
    <link rel="stylesheet" href="/style.css"/>
  </head>

  <body>
    <div id="top_buttons" class="wrapper clearfix">
      <section class="col-3 first clearfix">
        <div style="float:left;">
          <label class="title">BrainTeam Dental Services!</label>
        </div>
        <div style="float:right;">
          <% if logged_in?%>
            <a href="/user/<%=session[:user_id]%>" class="small_button">Home!</a>
            <a href="/logout" class="small_button">Log Out!</a>
          <% else %>
            <a href="/login" class="small_button">Log In!</a>
            <a href="/signup" class="small_button">Sign Up!</a>
          <% end %>
        </div>
      </section>
    </div><br>

    <div class="wrapper">
      <%= yield %>
    </div>

    <footer>
      &copy; 2018 BrainTeam Technology. All Rights Reserved.
    </footer>
  </body>
</html>
