<!DOCTYPE html>
<html>
  <head>
    <title>Viles Dentist Application!</title>
  </head>

  <body>
    <% if logged_in?%>
    <a href="/user/user[:id]">Home!<br></a>
    <a href="/logout">Log Out!</a>
    <% else %>
    <a href="/login">Log In!</a>
    <a href="/signup">Sign Up!</a>
    <% end %>
    <br><br>
    <%= yield %>
  </body>
</html>
