<!DOCTYPE html>
<html>
  <head>
    <title>Viles Dentist Application!</title>
    <link rel="stylesheet" href="/style.css"/>
  </head>

  <body style="background-color:powderblue; margin: 10px 50px;">
    <% if logged_in?%>
      <a href="/user/<%=session[:user_id]%>" class="small_button">Home!</a>
      <a href="/logout" class="small_button">Log Out!</a>
    <% else %>
      <a href="/login" class="small_button">Log In!</a>
      <a href="/signup" class="small_button">Sign Up!</a>
    <% end %>
    <br><br>
    <%= yield %>
  </body>
</html>
