  <section class="col-3 first clearfix">
    <label class="title">Create a new dentist!</label>
    <a href="/dentists" style="float:right;" class="small_button">Back to Index</a>
  </section>
</div>

<div class="wrapper">
  <section class="col-3 first clearfix">
    <form action="/dentists/new" method="post">
      <label>Name:<input type="text" name="name"></label><br>
      <label>Fee:<input type="text" name="fee"></label><br>
      <input type="submit" name="" value="Submit!" class="small_button">
    </form>
  </section>
