<h1>Create a new dentist!</h1><br>
<form action="/dentists/new" method="post">
  <label>Name:<input type="text" name="name"></label><br>
  <label>Fee:<input type="text" name="fee"></label><br>
  <input type="submit" name="" value="Submit!" class="small_button">
</form>
