<%@dentist.each do |dentist|%>
  <div class="each_comment">
    <label><%=dentist.name%></label>
    <a href="/dentists/<%=dentist.id%>" class="small_button">Visit</a>
    <% if !!session[:developer?] %>
      <a href="/dentists/<%=dentist.id%>/edit" class="small_button">Edit</a>
      <a href="/dentists/<%=dentist.id%>/delete" class="small_button">Delete</a>
    <%end%>
  </div>
<%end%>
