<section class="col-3 first clearfix">
  <label>Edit <%=@dentist.name%>!</label>
  <a href="/dentists" style="float:right;" class="small_button">Back to Index</a>
</section>

<section class="col-3 first clearfix">
  <form action="/dentists/<%=@dentist.id%>" method="post">
    <input id="hidden" type="hidden" name="_method" value="PATCH">
    <label>Dentist Name:</label>
    <input type="text" name="name" value="<%=@dentist.name%>"><br>
    <label>Dentist Fee:</label>
    <input type="text" name="fee" value="<%=@dentist.fee%>"><br>
    <input type="submit" value="submit" class="small_button">
  </form>
</section>
